Django==1.6.2
argparse==1.2.1
dj-database-url==0.2.2
dj-static==0.0.5
django-allauth==0.15.0
django-bootstrap3==2.5.6
django-secure==1.0
gunicorn==18.0
oauthlib==0.6.1
psycopg2==2.5.2
pystache==0.5.3
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.0
six==1.5.2
sqlparse==0.1.11
static==1.0.2
wsgiref==0.1.2
